@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  /* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section 1 Styles */
.section-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 201px;
}

.section-1-left {
    max-width: 50%;
}

.sub-sub-heading {
    color: #e6005c;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.heading {
    font-size: 50px;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.sub-heading {
    font-size: 18px;
    line-height: 1.6;
    margin: 30px 0;
}

.btn-pink {
    background-color: #e6005c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-pink:hover {
    background-color: #e31e60;
}

.section-1-right .pic-1 {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-2{
    background-color: #f4f4f4;
}
/* Section 2 Styles */
.section-2-2{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 219px;
   
    margin: 0 auto;
    background-color: #f8f8f8;
}

.service{
    margin: 23px 0;
    font-weight: bold;
    font-size: 45px;
}
.section-2-left, .section-2-right {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

.section-2-right {
    font-size: 1em;
    color: black;
}

.section-2-right div {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Carousal Styles */
.carousal {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}


/* Responsive Design  */
@media (max-width: 768px) {
    .section-1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-1-left, .section-1-right {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .heading {
        font-size: 28px;
    }

    .sub-heading {
        font-size: 16px;
    }
}

/* Responsive Styles */
/* @media (min-width: 768px) {
    .section-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section-2-left, .section-2-right {
        width: 48%;
        margin: 0;
    }

    .section-2-left {
        text-align: left;
    }

    .section-2-right {
        text-align: left;
    }
} */
